{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "plugins": [ "react" ],
  "rules": {
    "indent": [ "error", 2 ],
    "no-unused-vars": [ "warn", { "vars": "all", "args": "all", "argsIgnorePattern": "^_$" } ],
    "quotes": [ "warn", "single" ],
    "semi": [ "warn", "never" ],
    "react/prop-types": "warn"
  }
}